@import "~bootstrap/dist/css/bootstrap.min.css";

.test1 {
  color: blue;
  transform: scale(0.5);
  background:url("../images/007cars/c2.jpg");
}

.test2 {
    color: yellow;
    transform: scale(0.8);
  }
  
